<!DOCTYPE html>
<html>
<head>
<%= 
	render(:erb, :"header/header_common")
%>
</head>


	
<script type="text/javascript" src = "/js/CommonFunctions.js"></script>
<script type="text/javascript">


window.onload = function () {
	// 時間設定処理関連
	starttime_expr = new Date();
	starttime_expr.setSeconds(0);
	starttime_expr.setMinutes(0);

	if (document.getElementById('datetime_starttime') != null)
	{
		document.getElementById('datetime_starttime').value = formatUIDatetimeLocalObject(starttime_expr);
	}
}


function updateTextGameMaster(eventname)
{
	form_link_selector = document.getElementById("link_selector");
	form_link_selector.value= "checkself";
	
	form_button_event = document.gameinfoform.button_event
	form_button_event.value = eventname;
	
	gameinfoform.submit();
}
		
		
function updateTextPlayerName(eventname)
{
	//ui_text_gamemaster = document.getElementById("text_gamemaster");
	
	form_link_selector = document.getElementById("link_selector");
	form_link_selector.value= "checkself";
			
	form_button_event = document.gameinfoform.button_event
	form_button_event.value = eventname;
			
	gameinfoform.submit();
}

function updateThumbnailPlayer(eventname, uiname)
{
	form_link_selector = document.getElementById("link_selector");
	form_link_selector.value= "checkself";
	
	form_button_event = document.gameinfoform.button_event
	form_button_event.value = eventname;
			
	form_thumbnail_event = document.gameinfoform.thumbnail_event
	form_thumbnail_event.value = uiname
	
	gameinfoform.submit();
}
		
function updateByButtonEvent(eventname)
{
	//ui_text_gamemaster = document.getElementById("text_gamemaster");
	

	form_link_selector = document.getElementById("link_selector");
	form_link_selector.value= "checkself";

	form_button_event = document.gameinfoform.button_event
	form_button_event.value = eventname;
			
	gameinfoform.submit();
}
		
function selectLink()
{
	form_link_selector = document.getElementById("link_selector");
	
	if( form_link_selector == null) {
		return ;
	}

	if( gameinfoform.key.value == "arrange") {	
		form_link_selector.value= "arrangeremarks";
	} else if(gameinfoform.key.value =="backpage") {
		form_link_selector.value ="selectgame";
	}
}
		
</script>		

	
<%
def getUserDetails(username)
	if username == nil then
		return nil
	end
	
	tmpuser = @dbdataview[:UserInfo].where( :username => username)
	
	
	if( tmpuser.count >= 1 ) then
		return tmpuser.first
	else
		return nil
	end
end


@selector_val = @params[:select_index]
dbitem = @dbdataview[:GameInfo].where( :gameindex => @selector_val).first
if dbitem == nil then
	raise "Invalid Access"
end

	
#### --- initial
@form_defaultvalue = {}
@form_defaultvalue[:word_villager] = '村人ワード'
@form_defaultvalue[:word_wolf] = '人狼ワード'
@form_defaultvalue[:win_villagers] = true
@form_defaultvalue[:win_wolves] = false
@form_defaultvalue[:winlose_draw] = false
@form_defaultvalue[:comeback_villagers] = false
@form_defaultvalue[:comeback_wolves] = false
@form_defaultvalue[:game_starttime] = nil
@form_defaultvalue[:game_limittime_min] = 6
@form_defaultvalue[:game_limittime_sec] = 0
@form_defaultvalue[:game_isgiveup] = false
@form_defaultvalue[:game_extendtime_min] = 0
@form_defaultvalue[:game_extendtime_sec] = 0

p @form_defaultvalue[:word_villager]
p @params['form_attributes']
	
if @params['form_attributes'] == nil then
	@params['form_attributes'] = {}
	@params['form_attributes'][:value_gamemaster] = dbitem.tbl_user_info.username
	@params['form_attributes'][:issearchmode] = false

	if dbitem != nil then
		@form_defaultvalue[:word_villager] = dbitem.word_villager
		@form_defaultvalue[:word_wolf] = dbitem.word_wolf
		if dbitem.tbl_game_result.result_status != 0 then
			@form_defaultvalue[:win_villagers] = (dbitem.tbl_game_result.result_status == 2)
			@form_defaultvalue[:win_wolves] = (dbitem.tbl_game_result.result_status == 3)
			@form_defaultvalue[:winlose_draw] = (dbitem.tbl_game_result.result_status == 1)
			@form_defaultvalue[:comeback_villagers] = (dbitem.tbl_game_result.iscomeback_villager == 1)
			@form_defaultvalue[:comeback_wolves] = (dbitem.tbl_game_result.iscomeback_wolf == 1)
		end

		@form_defaultvalue[:game_starttime] = dbitem.starttime
		@form_defaultvalue[:game_limittime_min] = dbitem.limittime_min
		@form_defaultvalue[:game_limittime_sec] = dbitem.limittime_sec
		@form_defaultvalue[:game_isgiveup] = @params['form_attributes'][:form_game_isgiveup]
		@form_defaultvalue[:game_extendtime_min] = dbitem.extendtime_min
		@form_defaultvalue[:game_extendtime_sec] = dbitem.extendtime_sec
	end
	
elsif @params['form_attributes'] != nil
	@form_defaultvalue[:word_villager] = @params['form_attributes'][:form_word_villagers]
	@form_defaultvalue[:word_wolf] = @params['form_attributes'][:form_word_wolves]
	@form_defaultvalue[:win_villagers] = (@params['form_attributes'][:form_winlose] == 2)
	@form_defaultvalue[:win_wolves] = (@params['form_attributes'][:form_winlose] == 3)
	@form_defaultvalue[:winlose_draw] = (@params['form_attributes'][:form_winlose] == 1)
	@form_defaultvalue[:comeback_villagers] = @params['form_attributes'][:form_comeback_villagers]
	@form_defaultvalue[:comeback_wolves] = @params['form_attributes'][:form_comeback_wolves]
	@form_defaultvalue[:game_starttime] = @params['form_attributes'][:form_game_starttime]
	@form_defaultvalue[:game_limittime_min] = @params['form_attributes'][:form_game_limittime_min]
	@form_defaultvalue[:game_limittime_sec] = @params['form_attributes'][:form_game_limittime_sec]
	@form_defaultvalue[:game_isgiveup] = @params['form_attributes'][:form_game_isgiveup]
	@form_defaultvalue[:game_extendtime_min] = @params['form_attributes'][:form_game_extendtime_min]
	@form_defaultvalue[:game_extendtime_sec] = @params['form_attributes'][:form_game_extendtime_sec]
end


	
# ルール検索はサーブレット依存
if @params['form_attributes'][:searchmode_valid] == true  then
	@params["rulecandidates_0"] = @dbdataview[:GameRuleSetting]
		.where(:rule => @params['form_attributes'][:searchmode_rule], :voterule => @params['form_attributes'][:searchmode_voterule], :comebackrule => @params['form_attributes'][:searchmode_comebackrule], :wolfnumber => @params['form_attributes'][:searchmode_wolfnumber].to_i)
		.pluck(:gsId, :text)
else
	### @dbdataview[:RuleGameRuleSetting] 
	@params["rulecandidates_0"] = [[dbitem.tbl_game_rule_setting.gsId, dbitem.tbl_game_rule_setting.text]]
end
	
%>
</head>
	
<body>


<!-- コンテンツを記述 -->
	
	<h4> 試合経過を入力してください！</h4>
	<hr>
	<form name="gameinfoform" method="post" onsubmit="return selectLink()" enctype="multipart/form-data">
	<input type="hidden" name="button_event" value="none"></input>
	<input type="hidden" name="thumbnail_event" value="none"></input>
	<table>
		<tr><th colspan=4> Game Information </th></tr>
		<tr><th>GM
		<% if getUserDetails(@params['form_attributes'][:value_gamemaster]) == nil then %>
			<font color="red">(新規)</font>
		<% end %>
			</th><td><input type="text" id="text_gamemaster" name="gamemaster" value="<%=@params['form_attributes'][:value_gamemaster] %>"></input></td>
		<td>
		</td><td></td></tr>
		<script type="text/javascript">
			ui_text_gamemaster = document.getElementById("text_gamemaster");
			ui_text_gamemaster.addEventListener('change', updateTextGameMaster);
		</script>
		
		<tr><th>ルール</th><td>
		<% if @params['form_attributes'][:issearchmode] || @params["isruleinit_0"] then %>
			<select name="list_rule">
			<% @dbdataview[:GameRuleSetting].group(:rule).pluck(:rule).each do |val, i|  %>
				<% if val == @params['form_attributes'][:searchmode_rule] then %> 
					<option value="<%= val %>" selected = "selected"> <%= val %> </option>
				<% elsif val != "" then %>
					<option value="<%= val %>"> <%= val %> </option>
				<% end %>
			<% end %>
			</select><br>
			<select name="list_voterule">
			<% @dbdataview[:GameRuleSetting].group(:voterule).pluck(:voterule).each do |val, i|  %>
				<% if val == @params['form_attributes'][:searchmode_voterule] then %> 
					<option value="<%= val %>" selected = "selected"> <%= val %> </option>
				<% elsif val != "" then %>
					<option value="<%= val %>"> <%= val %> </option>
				<% end %>
			<% end %>
			</select><br>
			<select name="list_comebackrule">
			<% @dbdataview[:GameRuleSetting].group(:comebackrule).pluck(:comebackrule).each do |val, i|  %>
			<% if val == @params['form_attributes'][:searchmode_comebackrule] then %> 
					<option value="<%= val %>" selected = "selected"> <%= val %> </option>
				<% elsif val != "" then %>
					<option value="<%= val %>"> <%= val %> </option>
				<% end %>
			<% end %>
			</select><br>
			<select name="list_wolfnumber">
			<% @dbdataview[:GameRuleSetting].group(:wolfnumber).pluck(:wolfnumber).each do |val, i|  %>
				<% if val.to_s == @params['form_attributes'][:searchmode_wolfnumber] then %> 
					<option value="<%= val %>" selected = "selected"> <%= val %> </option>
				<% elsif val != "" then %>
					<option value="<%= val %>"> <%= val %> </option>
				<% end %>			<% end %>
			</select> w <br>
			<% if @params['form_attributes'][:form_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == false then %>
				<input type="submit" value="更新" onclick='updateByButtonEvent("updateRule")'><br>
			<% end %>
		<% else %>
			<select name="list_targetrules">
				<% @params["rulecandidates_0"].each do |val1, val2| %>
					<option value="<%= val1 %>"> <%= val2 %> </option>
				<% end %>
			</select>
			
			<% if @params['form_attributes'][:form_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == false then %>
				<input type="submit" value="変更" onclick='updateByButtonEvent("changeRule")'>
			<% end %>
			<br>
		<% end %>
		
			
		</td><td></td><td></td></tr>
		<tr><th>村人ワード</th><td><input type="text" name = "word_villagers" value = "<%=@form_defaultvalue[:word_villager]%>"></input></td><td></td><td></td></tr>
		<tr><th>人狼ワード</th><td><input type="text" name = "word_wolves" value = "<%=@form_defaultvalue[:word_wolf]%>"></input></td><td></td><td></td></tr>
		<tr><th>勝敗</th>
			<td>
			<input type="radio" name="winlose" value="win_villagers" <% if @form_defaultvalue[:win_villagers] then %> checked="checked" <% end %>>村人陣営</input>
			<input type="radio" name="winlose" value="win_wolves" <% if @form_defaultvalue[:win_wolves] then %> checked="checked" <% end %>>人狼陣営</input>
			<input type="radio" name="winlose" value="winlose_draw" <% if @form_defaultvalue[:winlose_draw] then %> checked="checked" <% end %>>引き分け</input></td><td></td><td></td></tr>
		<tr><th>逆転</th>
			<td>
			<input type="checkbox" name="comeback_villagers" <% if @form_defaultvalue[:comeback_villagers] then %> checked="checked" <% end %>>村人逆転</input>
			<input type="checkbox" name="comeback_wolves"<% if @form_defaultvalue[:comeback_wolves] then %> checked="checked" <% end %>>人狼逆転</input>
			</td><td></td><td></td></tr>
		<tr><th>開始時刻</th><td>
			<input type="datetime-local" name="game_starttime" 
				id="datetime_starttime">
			</input></td>
			<td></td><td></td>
		</tr>
		
		<tr><th>制限時間</th>
			<td>
				<input type="number" name="game_limittime_min" value="<%=@form_defaultvalue[:game_limittime_min]%>" min=0 max=59></input>分
				<input type="number" name="game_limittime_sec" value="<%=@form_defaultvalue[:game_limittime_sec]%>" min=0 max=59></input>秒<br>
				<input type="checkbox" name="game_giveup" <% if @form_defaultvalue[:game_isgiveup] then %> checked="checked" <% end %>></input>時短</td><td></td><td></td>
		</tr>
		<tr><th>延長時間</th>
			<td>
			<input type="number" name="game_extendtime_min" value="<%=@form_defaultvalue[:game_extendtime_min]%>" min=0 max=59></input>分
			<input type="number" name="game_extendtime_sec" value="<%=@form_defaultvalue[:game_extendtime_sec]%>" min=0 max=59></input>秒</td><td></td><td></td>
		</tr>
		<tr><th>参加人数</th>
			<td>
		<% if @params['form_attributes'][:form_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == nil then %>
			<% if @dbdataview[:GamePlayer].count != 0 then %>
				<input type="hidden" name="playernumber" value="<%=@dbdataview[:GamePlayer].count%>">
				<%=@dbdataview[:GamePlayer].count%> 人<br>
			<% else%>
				<input type="number" name="playernumber" value="6" min=3 max=99></input>人<br>
			<% end %>
		<% elsif @params['form_attributes'][:state_playerinfo] == false then %>
			<% if @dbdataview[:GamePlayer].count != 0 then %>
				<input type="hidden" name="playernumber" value="<%=@dbdataview[:GamePlayer].count%>">
				<%=@dbdataview[:GamePlayer].count%> 人<br>
			<% else%>
				<input type="number" name="playernumber" value="6" min=3 max=99></input>人<br>
			<% end %>
		<% else %>
			<input type="hidden" name="playernumber" value="<%=@params['form_attributes'][:form_playerinfo][:number].to_i%>">
			<%=@params['form_attributes'][:form_playerinfo][:number].to_i%> 人<br>
		<% end %>
			</td><td></td><td></td>
		</tr>

		<tr><th></th><td>
		<% if @params['form_attributes'][:state_playerinfo] == nil or @params['form_attributes'][:state_playerinfo] == false then %>
			<input type="submit" value="プレイヤー情報変更" onclick='updateByButtonEvent("updatePlayerInfo")'><br>
		<% end %>
		</td><td></td><td></td>
		</tr>

		<% if @params['form_attributes'][:state_playerinfo] == true then %>
			<tr><th>参加者</th><td></td><td></td><td></td></tr>
			<tr><td>サムネ</td><td>名前</td><td>人狼?</td><td>被投票数</td><td>逆転ワード</td><td>落ち状況</td><td></td></tr>
			<% (1..@params['form_attributes'][:form_playerinfo][:number].to_i).each_with_index do |val,i| %>
			<tr>
				<% 
				dbdata_init = @dbdataview[:UserInfo].where(:uId => 1).first 

				if @params['form_attributes'][:form_playerinfo][:playerinfo].count != @params['form_attributes'][:form_playerinfo][:number] or @params['form_attributes'][:form_playerinfo][:playerinfo].count != @params['form_attributes'][:form_playerinfo][:number] then				
					403
				end
				
				@targetuser = {}
				@targetuserdetail = nil
				
				key_username = ("player_name_" + i.to_s).to_sym
				key_current_thumbnail = ("player_thumbnail_path_" + i.to_s).to_sym
				key_iswolf = ('player_iswolf_' + i.to_s).to_sym
				key_numvotes = ('player_numvotes_' + i.to_s).to_sym
				key_comebackword = ('player_comebackword_' + i.to_s).to_sym
				key_isghost = ('player_isghost_' + i.to_s).to_sym
				key_isdisposed = ('player_isdisposed_' + i.to_s).to_sym
				key_next_thumbnail = ("player_thumbnail_nextpath_" + i.to_s).to_sym
												
				# 前画面で取得されているユーザ名を検索
				username = @params['form_attributes'][:form_playerinfo][:playerinfo][key_username]
				if username != nil then
					@targetuserdetail = getUserDetails(username)
				
					if @params['form_attributes'][:form_playerinfo][:playerinfo][key_next_thumbnail] == nil then
						if @params['form_attributes'][:form_playerinfo][:playerinfo][key_current_thumbnail] == nil then
							@targetuser = { :username => username, :thumbnailpath => dbdata_init.thumbnailpath }
						else
							if @targetuserdetail != nil and @targetuserdetail[:thumbnailpath] != nil then
								@targetuser = { :username => username, :thumbnailpath => @targetuserdetail[:thumbnailpath] }
							else
								@targetuser = { :username => username, :thumbnailpath => @params['form_attributes'][:form_playerinfo][:playerinfo][key_current_thumbnail] }
							end
						end
					else
						@targetuser = { :username => username, :thumbnailpath => @params['form_attributes'][:form_playerinfo][:playerinfo][key_next_thumbnail] }
					end
				
					@targetuser[:iswolf] = @params['form_attributes'][:form_playerinfo][:playerinfo][key_iswolf]
					@targetuser[:numvotes] = @params['form_attributes'][:form_playerinfo][:playerinfo][key_numvotes]
					@targetuser[:comebackword] = @params['form_attributes'][:form_playerinfo][:playerinfo][key_comebackword]
					@targetuser[:isghost] = @params['form_attributes'][:form_playerinfo][:playerinfo][key_isghost]
					@targetuser[:isdisposed] = @params['form_attributes'][:form_playerinfo][:playerinfo][key_isdisposed]
				# 前画面でのデータが存在しない場合
				else
					username = nil
					uId = nil
					# ここに何か処理が必要だと思われる。
					# SelectGame -> ArrangeGameInfoに移行するときに、指定したDBのロード処理を入れたら、なんとか回避できるかも
					if @dbdataview[:GamePlayer][i] == nil then
						@targetuser = {:username => dbdata_init.username, :thumbnailpath => dbdata_init.thumbnailpath }
						@targetuserdetail = getUserDetails(dbdata_init.username)
					else
						@targetuser = {:username => @dbdataview[:GamePlayer][i].tbl_user_info.username, :thumbnailpath => @dbdataview[:GamePlayer][i].tbl_user_info.thumbnailpath }
						@targetuserdetail = getUserDetails(@dbdataview[:GamePlayer][i].tbl_user_info.username)
						
						@targetuser[:iswolf] = @dbdataview[:GamePlayer][i].iswolves == 1 ? 'on' : 'off'
						
						username = @dbdataview[:GamePlayer][i].tbl_user_info.username
						uId = @dbdataview[:GamePlayer][i].uId
					end
					
					if username != nil and @dbdataview[:GameVote] != nil then
						item = @dbdataview[:GameVote].where(:uId_elected => uId).first
						if item != nil then
							@targetuser[:numvotes] = item.numvotes
							@targetuser[:isghost] = item.isghost == 1 ? 'on' : 'off'
							@targetuser[:isdisposed] = item.isdisposed == 1 ? 'on' : 'off'
						end
					end
					if username != nil and @dbdataview[:GameAnswer] != nil then
						item = @dbdataview[:GameAnswer].where(:uId => uId).first
						if item != nil then
							@targetuser[:comebackword] = item.word_answer
						end
					end
				end
				 %>
			<td>
				<input type="hidden" name="player_thumbnail_path_<%=i.to_s%>" value="<%=@targetuser[:thumbnailpath]%>">
				<image src="/resource/thumbnails/<%=@targetuser[:thumbnailpath]%>" width=32 height=32>
			</td>
			<td>
				<input type="text" id="player_name_<%=i.to_s%>" name="player_name_<%=i.to_s%>" value="<%=@targetuser[:username]%>">
				<% if @targetuserdetail == nil then %>
					<font color="red">(新規)</font>
				<% end %>
				<br>
				<input type="file" id="player_thumbnailbutton_<%=i.to_s%>" name="player_thumbnail_nextpath_<%=i.to_s%>" accept="image/*">
			</td>
			<td>
				<input type="checkbox" name="player_iswolf_<%=i.to_s%>"
				<% if @targetuser[:iswolf] == "on" then %>
					checked = "checked"
				<% end %>
				></input>
			</td>
			<td>
				<input type="number" name="player_numvotes_<%=i.to_s%>" min=0 value=
				<% if @targetuser[:numvotes] != nil then %>
					<%=@targetuser[:numvotes]%>
				<% else %>
					0
				<% end %>
				></input>
			</td>
			<td>
				<input type="textbox" name="player_comebackword_<%=i.to_s%>" size=15
				<% if @targetuser[:numvotes] != nil then %>
					value="<%=@targetuser[:comebackword]%>"
				<% end %>
				>
				</input>
			</td>
			<td>
				<input type="checkbox" name="player_isghost_<%=i.to_s%>"
				<% if @targetuser[:isghost] == "on" then %>
					checked = "checked"
				<% end %>
				></input>
				ゴースト（棄権）<br>
				<input type="checkbox" name="player_isdisposed_<%=i.to_s%>"
				<% if @targetuser[:isdisposed] == "on" then %>
					checked = "checked"
				<% end %>
				></input>
				投票放棄<br></td>
			<td></td>
			</tr>
			<script type="text/javascript">
				ui_text_player = document.getElementById("player_name_<%=i.to_s%>");
				ui_text_player.addEventListener('change', function(){updateTextPlayerName('updatePlayerInfo')});
				
				ui_thumbnail = document.getElementById("player_thumbnailbutton_<%=i.to_s%>");
				ui_thumbnail.addEventListener('change', function(){updateThumbnailPlayer('updatePlayerInfo', "player_thumbnail_nextpath_<%=i.to_s%>")});
			</script>
			<% end %>
		<% end %>
		</table>
		<hr>
			
		<input type="hidden" name="proctype" id="link_selector" value=""></input>
		<% if @params['form_attributes'][:state_playerinfo] == true then %>
			<input type="submit" value="やり取り編集" onclick="gameinfoform.key.value='arrange'"></input>
		<% end %>
		<input type="submit" value="やめる" onclick="gameinfoform.key.value='backpage'"></input>
		<input type="hidden" name="key" value="">
		<%= csrf_tag %>
	</form>

	
<!-- スクリプトでブロッキングを起こすものはここに記述
ブロッキングを起こす原因としては、CSSのセレクタ操作（IE）、負荷の高いDOM操作、多数のスクリプトなど -->
<!-- SCRIPTS -->
<!-- 例: <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

</body>
</html>