<!DOCTYPE html>
<html>
<head>
<%= 
	render(:erb, :"header/header_common")
	render(:erb, :"management/header/header_menuframe")
%>

<script type="text/javascript" src = "/js/CommonFunctions.js"></script>
<script type="text/javascript">
window.onload = function(){	

};
			

</script>
		
</head>
<!-- ページのタイトルを記述 -->
<title>Word Management</title>

<body>
	<%= render(:erb, :"management/management_menubar") %>
	
	<div id="MenuArea_Right">

	
	<h1>Arrange Old Battle</h1>
	
	<form method="post" name="battleform" action="entrybattle/processing">
		<input type="hidden" name="proctype" value="arrange_oldgame"></input>
		<input type="submit" value="Arrange Game" >	
	<table border = 1>
		<tr>
			<th></th>
			<th>ID</th>
			<th>主催者</th>
			<th>開始/終了時刻</th>
			<th>試合数</th>
		</tr>
	<% if @dbdataview != nil and @dbdataview[:GameInfoAll] != nil and @dbdataview[:BattleInfo] != nil then %>
		<% @ischecked = false %>
		<% @dbdataview[:BattleInfo].each do |item| %>
			<% 
				@gameinfo = @dbdataview[:GameInfoAll].where(:Id => item.Id)
			%>
			<tr>
				<td><input type="radio" name="game_selector_id" value="<%= item.Id.to_s %>"
					<% if !@ischecked then %>
						checked = "checked"
						<% @ischecked = true %>
					<% end %>
					></td>
				<td><%= item.Id %></td>
				<td><%= item.host %></td>
				<td><%= item.starttime %> 〜<br> <%= item.endtime %></td>
				
				<td><%= @gameinfo.all.count %></td>
			
			</tr>
		<% end %>
	<% else %>
		DB Access Error
	<% end %>
	</table>
	</form>
			

	<!--
	<h1>Arrange Old Battle</h1>
	<form method="post" name="battleform" action="entrybattle/processing">
	<input type="hidden" name="proctype" value="creategame"></input>
	<table border=0>
		<tr><th colspan=2>Battle Information</th></tr>
		<tr><td>主催者</td><td><input type="text" name="battle_host" maxlength=20 id="text_host" value="ベルレ" required="required"></input></td><td></td></tr>
		<tr><td>試合数</td><td><input type="number" name="battle_num_battle" min=1 max=50 value=1 required="required"></input>戦</td><td></td></tr>
		<tr><td>開始時刻</td><td><input type="datetime-local" name = "battle_starttime" id="datetime_starttime" required="required"></input></td><td>YYYY-MM-DDTHH:mm:ss</td></tr>
		<tr><td>終了時刻</td><td><input type="datetime-local" name = "battle_endtime" id="datetime_endtime" required="required"></input></td><td>YYYY-MM-DDTHH:mm:ss</td></tr>
		<%= csrf_tag %>
		<tr><td></td><td><input type="submit" value="Create New Battle" ></td></tr>
	</table>
	</form>
	-->
	
	</div>

	
<!-- スクリプトでブロッキングを起こすものはここに記述
ブロッキングを起こす原因としては、CSSのセレクタ操作（IE）、負荷の高いDOM操作、多数のスクリプトなど -->
<!-- SCRIPTS -->
<!-- 例: <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
</body>
</html>